In [ ]:
import os
import pandas as pd
import numpy as np
import pydicom
import pylibjpeg
import matplotlib.pyplot as plt

In [ ]:
image_csv = pd.read_csv('./train_image_level.csv')
study_csv = pd.read_csv('./train_study_level.csv')

In [ ]:
base_path = '/tf/0.DATA/train'
image_save_path = '/tf/0.DATA/data/images'

for i in range(len(study_csv)):
    study_data = study_csv.iloc[i]
    study_id = study_data['id'].split('_')[0]
    
    image_data = image_csv.query('StudyInstanceUID==@study_id')
    
    for j in range(len(image_data)):
        image_datum = image_data.iloc[j]
        image_id = image_datum['id'].split('_')[0]
        
        for (root, dirs, files) in os.walk(os.path.join(base_path, study_id)):
            if image_id+'.dcm' in files:
                image_path = os.path.join(root, image_id+'.dcm')
            
                dicom = pydicom.dcmread(image_path)
                dicom_image = dicom.pixel_array
            
                save_path = os.path.join(image_save_path, image_id)
                np.save(save_path, dicom_image)

    if i % 100 == 0:
        print('idx = ', i)

idx =  0
idx =  100
idx =  200
idx =  300
idx =  400
idx =  500

/usr/local/lib/python3.8/dist-packages/pydicom/pixel_data_handlers/numpy_handler.py:341: UserWarning: The length of the pixel data in the dataset (13262360 bytes) indicates it contains excess padding. 216296 bytes will be removed from the end of the data
  warnings.warn(msg)

idx =  600
idx =  700
idx =  800
idx =  900
idx =  1000
idx =  1100
idx =  1200
idx =  1300
idx =  1400
idx =  1500
idx =  1600
idx =  1700
idx =  1800
idx =  1900
idx =  2000
idx =  2100
idx =  2200
idx =  2300
idx =  2400
idx =  2500
idx =  2600
idx =  2700
idx =  2800
idx =  2900
idx =  3000
idx =  3100
idx =  3200
idx =  3300
idx =  3400
idx =  3500
idx =  3600
idx =  3700
idx =  3800
idx =  3900
idx =  4000
idx =  4100
idx =  4200
idx =  4300
idx =  4400
idx =  4500
idx =  4600
idx =  4700
idx =  4800
idx =  4900
idx =  5000
idx =  5100
idx =  5200
idx =  5300
idx =  5400
idx =  5500

In [ ]:
len(os.listdir(image_save_path))

5640

In [ ]:
# make train/test/validation csv file
# 총 study : 5579
# train study : 3719
# val study : 930
# test study : 930

# csv column
# img path, negative, typical, indeterminate

In [ ]:
train_num = 3719
val_num = 930
test_num = 930

idx = np.arange(len(study_csv))
np.random.shuffle(idx)

train_idx = idx[0:train_num]
val_idx = idx[train_num:train_num+val_num]
test_idx = idx[train_num+val_num:len(study_csv)]

train_df = pd.DataFrame(columns=['image_id', 'study_id', 'negative', 'typical', 'indeterminate'])
val_df = pd.DataFrame(columns=['image_id', 'study_id', 'negative', 'typical', 'indeterminate'])
test_df = pd.DataFrame(columns=['image_id', 'study_id', 'negative', 'typical', 'indeterminate'])

for i in range(len(train_idx)):
    study_data = study_csv.iloc[train_idx[i]]
    study_id = study_data['id'].split('_')[0]
    
    negative = study_data['Negative for Pneumonia']
    typical = study_data['Typical Appearance']
    indeterminate = study_data['Indeterminate Appearance']
    
    image_data = image_csv.query('StudyInstanceUID==@study_id')
    for j in range(len(image_data)):
        image_datum = image_data.iloc[j]
        image_id = image_datum['id'].split('_')[0]
        
        tmp_dic = {'image_id':image_id,
                  'study_id':study_id,
                  'negative':negative,
                  'typical':typical,
                  'indeterminate':indeterminate}
        tmp_df = pd.DataFrame([tmp_dic])
        train_df = pd.concat([train_df, tmp_df])
        
        
        
for i in range(len(val_idx)):
    study_data = study_csv.iloc[val_idx[i]]
    study_id = study_data['id'].split('_')[0]
    
    negative = study_data['Negative for Pneumonia']
    typical = study_data['Typical Appearance']
    indeterminate = study_data['Indeterminate Appearance']
    
    image_data = image_csv.query('StudyInstanceUID==@study_id')
    for j in range(len(image_data)):
        image_datum = image_data.iloc[j]
        image_id = image_datum['id'].split('_')[0]
        
        tmp_dic = {'image_id':image_id,
                  'study_id':study_id,
                  'negative':negative,
                  'typical':typical,
                  'indeterminate':indeterminate}
        tmp_df = pd.DataFrame([tmp_dic])
        val_df = pd.concat([val_df, tmp_df])
        
        
        
for i in range(len(test_idx)):
    study_data = study_csv.iloc[test_idx[i]]
    study_id = study_data['id'].split('_')[0]
    
    negative = study_data['Negative for Pneumonia']
    typical = study_data['Typical Appearance']
    indeterminate = study_data['Indeterminate Appearance']
    
    image_data = image_csv.query('StudyInstanceUID==@study_id')
    for j in range(len(image_data)):
        image_datum = image_data.iloc[j]
        image_id = image_datum['id'].split('_')[0]
        
        tmp_dic = {'image_id':image_id,
                  'study_id':study_id,
                  'negative':negative,
                  'typical':typical,
                  'indeterminate':indeterminate}
        tmp_df = pd.DataFrame([tmp_dic])
        test_df = pd.concat([test_df, tmp_df])

In [ ]:
print(train_df['study_id'].nunique())
print(val_df['study_id'].nunique())
print(test_df['study_id'].nunique())

3719
930
930

In [ ]:
train_df.to_csv('train.csv', index=False)
val_df.to_csv('val.csv', index=False)
test_df.to_csv('test.csv', index=False)

In [ ]:
check = pd.read_csv('./train.csv')
check

          image_id      study_id  negative  typical  indeterminate
0     6467d3eedf66  f4f5bbdf7a00         0        1              0
1     a19658675c6d  f9b47fe9bcb5         0        1              0
2     e7c3f21a9b8b  4a761d73927a         0        1              0
3     78165504b671  1bc9965d033b         1        0              0
4     cfc1a9fed40d  316a5c0840f2         0        0              1
...            ...           ...       ...      ...            ...
3758  bac1d41a0a43  3795c5ddd545         1        0              0
3759  dc5f5313b1b7  dc7ddcf65b4c         0        1              0
3760  329172d2a7eb  9f1a9ff51098         0        0              1
3761  1f3aaf44de73  ccb8df9dddce         0        1              0
3762  36adbbd65ff4  8716e2d245fd         0        1              0

[3763 rows x 5 columns]